<div class="container mt-4">
  <div class="mb-3">
    <label [for]="selectId" class="form-label">Selecciona {{tipo}}</label>
    <select [id]="selectId" class="form-select" multiple (click)="onOptionClick($event)">
      <option *ngFor="let option of options" [value]="option" [ngClass]="{'bg-primary': isSelected(option), 'bg-white': !isSelected(option)}">
        {{ option }}
      </option>
    </select>
  </div>

    <!-- <div>
      <p class="fw-bold">Opciones seleccionadas:</p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let selected of selectedOptions">{{ selected }}</li>
      </ul>
    </div>
     -->
  </div>